<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Create a new Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter a catchy title" type="text" class="form-control" required/>
           <div class="valid-feedback">Title looks good!</div></div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="propertyType" class="form-label">Property Type:</label>
            <select id="propertyType" name="listing[propertyType]" class="form-select" required>
                <option value="">Select a Property Type</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Domes">Domes</option>
                <option value="Boats">Boats</option>
                <option value="Forest Retreats">Forest Retreats</option>
                <option value="Urban Stays">Urban Stays</option>
                <option value="Beachfront">Beachfront</option>
                <option value="Private Homes">Private Homes</option>
            </select>
        </div>
        
        <!--<div class="mb-3">
           <label for="image" class="form-label">Image</label>
            <input name="listing[image][url]" placeholder="Enter Image URL/Link" type="text" class="form-control" value="https://plus.unsplash.com/premium_photo-1689609950112-d66095626efb?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
        </div>-->
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="image" type="file" class="form-control" required/>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="1200" type="number" class="form-control" required/>
                    <div class="invalid-feedback">Enter valid price!</div></div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Jaipur" type="text" class="form-control" required/>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
        </div>
        <div class="mb-3"><button class="btn btn-dark">Add</button></div>
    </form><br><br></div>
</div>
</body>
